{% extends "base.html" %}


{% block title %}Campus Coordinator Form | Anand Utsav Online Contest{% endblock %}

{% block content %}
    <!-- Signup -->
    <div class="content-section-a">
        <div class="container">
            <div class="col-md-6 col-md-offset-3" style="display: block;">
              <form  id="coordinator_form" class="form-horizontal" method="post" action="/form/coordinator-submit/{{ teacher_code }}/">{% csrf_token %}
                <!-- <h3>{{ teacher_code }}</h3> -->
                <h2 class="form-coordinator-heading">You are a Campus Coordinator for:</h2>
                
                {{ form.as_p }}
                
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit for Approval</button>
              </form>
            </div>    
        </div> <!-- /container -->    
    </div>
{% endblock %}


{% block bodyend %}
<script type="text/javascript">
    
</script>
    <script src="/static/js/form.js"></script>
{% endblock %}

